@{
    ViewBag.Title = "About";
}


<head>
    <style>
        body {
            background-color: rgb(232,246,249)
        }
        .asd {
            border: solid 10px aqua;
            border-radius: 25px;
        }

        .a {
            border: 7px solid aqua;
            border-radius: 50px 20px;
        }

        .as {
            border: double 7px aqua;
        }

        .asd1 {
            border: solid 5px aqua;
            border-radius: 15px 50px 30px
        }

        .b {
            border: solid 7px aqua;
            margin: 100px;
            border-radius: 25px 50px 25px
        }

        .c {
            border: solid;
            margin 150px;
            padding: 10
        }

    </style>
</head>

<div  >

    <div class="row">

        <div class="col-md-6">
            <b style="font-size:40px" > For English</b>
            <h3 > Operating in the Plastics Industry for 15 Years, tayba Plast  is proud to serve you, our valued customers, with our 15 years of experience and uncompromised quality.</h3>

        </div>

        <div class="col-md-6">
            <b style="font-size:40px"> العربية</b>
            <h2 >تعمل شركة طيبة بلاست في صناعة البلاستيك منذ 15 عامًا ، وتفخر بخدمة عملائنا الكرام ، من خلال 15 عامًا من الخبرة والجودة التي لا تضاهى  </h2>.
        </div>

    </div>

    <b style="font-size:40px"> Our Services</b>
    <form>
        <div class="row">
            <div class="col-md-6">
                <img src="~/fonts/image/16178737_196497914152404_7260239489222855850_o.jpg" width="550 px" height="550 px"  class="a"/>
            </div>

            <div class="col-md-6">
                <img src="~/fonts/image/46525812_539873049814887_2197638974707597312_n.jpg" width="550 px" height="550 px" class="a"/>
            </div>
        </div>
    </form>

    <br />

    <form>
        <div class="row">
            <div class="col-md-6">

                <img src="~/fonts/image/51668696_585211635281028_2801460343723786240_n.jpg" width="550 px" height="550 px"class="a" />

            </div>

            <div class="col-md-6">

                <img src="~/fonts/image/16142979_201266630342199_4662180800582874323_n.jpg" width="550 px" height="550 px"class="a" />
            </div>
        </div>
    </form>
</div>