@{
    ViewBag.Title = "Contact";
}


<head>


    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 25px 50px 25px;
            border: solid 4px aqua
        }

        .b {
            border: solid 7px aqua;
            margin: 100px;
            border-radius: 25px 50px 25px
        }


        .fa {
            padding: 20px;
            font-size: 30px;
            width: 50px;
            text-align: center;
            text-decoration: none;
            margin: 5px 2px;
            body

        {
            background-color: aliceblue
        }

        .fa-facebook {
            background: #3B5998;
            color: blue;
        }

        fa-instagram {
            background: #125688;
        }

        .style {
            "font-size:20px"
        }
    </style>
</head>

<h1 style="text-align:center;font-size:60px"><b>Our Contact Information:</b></h1>

<div class="row">

    <div class="col-md-6">

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3289.3951121917266!2d35.9499619!3d34.4674997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1504457ded7b5783!2z2YXYudmF2YQg2YbYqNin2LHZitisINi32YrYqNipINio2YTYp9iz2Ko!5e0!3m2!1sen!2str!4v1654367794309!5m2!1sen!2str" width="550" height="550" style="border: 0; border-radius: 25px 50px 25px; border: solid 4px aqua " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="col-md-6">
        <img src="~/fonts/image/drip-irregation.jpg" width="600 px" height="550" class="center" />
    </div>
</div>
    <br />
    <br />

    <div class="row">


        <div class="col-md-2">
            <form>
                <b style=" font-size:25px;color:mediumblue ">Contact Us:</b><br />
                <p style=" font-size:20px ">+9613331077</p>
                <p style=" font-size:20px ">+96170430542</p>
                <p style=" font-size:20px ">Email:dhaybi_96@hotmail.com</p>
                <h2><a href=" https://goo.gl/maps/V5M464NF2hCowbbS9"> Minieh,Lebanon</a></h2>
            </form>

        </div>
        <div class="col-md-2">
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-2">

            <form style="margin-left:50PX">


                <b style=" font-size:25px;color:mediumblue ">INFO:</b><br />

                <label style=" font-size:20px " for="name">Name :</label><br>
                <input type="name" placeholder="name"><br>

                <label style=" font-size:20px " for="email">Email :</label><br>
                <input type="email" placeholder="Email"><br />


                <label style=" font-size:20px " for="phonenumber">Number :</label><br>
                <input type="phonenumber" placeholder="phone number"><br>
                <br />

                <button onclick="myFunction()">Submit</button>

                <script>
                    function myFunction() {
                        alert("Information Saved !We Are Going To Conatct You As Soon As Possible ");
                    }
                </script>


                <a href="https://www.facebook.com/%D8%B7%D9%8A%D8%A8%D8%A9-%D8%A8%D9%84%D8%A7%D8%B3%D8%AA-195387534263442" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/tayba_plast/" class="fa fa-instagram"></a>
            </form>
        <div class="col-md-2">
        </div>

    </div>
    </div>
