@{
    ViewBag.Title = "Home Page";
}

<head>

    <style>

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 25px 50px 25px;
            border: solid 4px aqua
        }
        
    </style>
</head>
<div style="background-color: rgb(232,246,249) ">


    <div class="jumbotron" style="background-color: rgb(232,246,249) ">

        <h1 style="font-size:100px;text-align:center;color:rgb(64,64,64)" >Tayba Plast</h1>
        <img src="~/fonts/image/dhybi 035.JPG" width="700 px" height="800 px" class="center"/>

    </div>



    <div class="row">

        <div class="col-md-6">
            <b style="font-size:40px">For English</b>
            <h3>
                In view of the urgent need for water at all agricultural, industrial and domestic levels, and in order to preserve this important water wealth that no one can dispense with, the idea of establishing a factory for the manufacture of pipes, especially the type called (Al JR), which works on the drip method to irrigate plants in an easier and safe way for plants, was

                And less waste of water.
            </h3>
            <p><a class="btn btn-default" href="https://localhost:44302/Home/About "style="background-color:aqua">About Us &raquo;</a></p>
        </div>

        <div class="col-md-6">
            <b style="font-size:40px"> العربية</b>
            <h2>
                نظراً للحاجة الماسة للمياه على كل المستويات الزراعية والصناعية والمنزلية وحفاظاً على هذه الثروة المائية الهامة التي لا أحد يستطيع الإستغناء عنها, كانت فكرة إنشاء مصنع لتصنيع النباريش وخاصة النوع الذي يسمى ( آل جي آر ) الذي يعمل على طريقة التنقيط لري المزروعات بطريقة أسهل وسليمة للنباتات

                وأقل هدرا للمياه .
            </h2>

            <p><a class="btn btn-default" href="https://localhost:44302/Home/product " style="background-color:aqua">Product &raquo;</a></p>
        </div>

    </div>

</div>