@{
    ViewBag.Title = "product";
}

<head>
    <style>


        .as {
            border: double 7px aqua;
        }

        body {
            background-color: rgb(232,246,249)
        }
    </style>
</head>
<br />
<br />


    <h1 style="text-align:center ;font-size:60px"><b >Our Products</b></h1>

<br />

<div class="row">

    <div class="col-md-4">
        <img src="~/fonts/image/images (1).jpg" class="as" />
        <h3>coupling TEE</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/download (6).jpg" class="as" />
        <h3>coupling Elbow</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/download.jpg" class="as" />
        <h3>coupling</h3>
    </div>


</div>

<br />

<div class="row">

    <div class="col-md-4">
        <img src="~/fonts/image/download (4).jpg" class="as" />
        <h3>accessories</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/images (4).jpg" class="as" />
        <h3>accessories</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/images (5).jpg" class="as" />
        <h3>Pressure Compensating (PC) Dripper</h3>
    </div>


</div>
<br />

<div class="row">

    <div class="col-md-4">
        <img src="~/fonts/image/download (3).jpg" class="as" />
        <h3>Line End Rings</h3>
    </div>

    <div class="col-md-4">

        <img src="~/fonts/image/download (7).jpg" class="as" />
        <h3>Elbow Barbed Connector</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/images.jpg" class="as" />
        <h3>adaptor</h3>
    </div>


</div>
<br />

<div class="row">

    <div class="col-md-4">
        <img src="~/fonts/image/images (3).jpg" class="as" />
        <h3>16mm valve</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/download (1).jpg" class="as" />
        <h3>valve</h3>
    </div>

    <div class="col-md-4">
        <img src="~/fonts/image/images (10).jpg" class="as" />
        <h3>coupling valve</h3>
    </div>


</div>